
@model SOL_EDWIN_FLORES.Models.prestamos


<span class="text-muted">Complete los siguientes datos:</span>
<hr />
<form id="formControl">
    <input type="hidden" asp-for="IDD_CONTR_HORAS" id="IDD_CONTR_HORAS" />
    <input type="hidden" asp-for="IDD_PLANI" id="IDD_PLANI" />
    <div class="card-body pt-0">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Libro</label>
                    <select asp-for="IDD_LIDER" class="form-control" required="" asp-items="ViewBag.libros"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Usuario</label>
                    <select asp-for="IDD_LIDER" class="form-control" required="" asp-items="ViewBag.usuarios"></select>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Tipo de Lectura</label>
                <input type="text" asp-for="FEC_DESAR" class="form-control" required="" />
            </div>
        </div>
    </div>
    <br />


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-info" />
                </div>
            </div>
        </div>
    </div>




</form>